<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iguapp</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app" class="container">
      <h1 class="text-center">Cotización</h1>
      <div class="row">
        <div class="col"></div>
        <div class="col-12 col-md-8 border">
          <form @submit.prevent="calcular" class="border p-3">
            <div
              v-for="(pieza, iPieza) in cotizacion.piezas"
              :key="iPieza"
              class="row"
            >
              <div class="col-12 mb-3">
                <label class="form-label">Pieza</label>
                <select
                  v-model="cotizacion.piezas[iPieza].pieza"
                  class="form-select form-select-sm"
                >
                  <option value="ventana">Ventana</option>
                </select>
              </div>
              <template v-if="pieza.pieza === 'ventana'">
                <div class="col-6 mb-3">
                  <label class="form-label">Ancho (cm)</label>
                  <input
                    type="number"
                    step="0.01"
                    v-model="cotizacion.piezas[iPieza].medidas.ancho"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Alto (cm)</label>
                  <input
                    type="number"
                    step="0.01"
                    v-model="cotizacion.piezas[iPieza].medidas.alto"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-12">
                  <label class="form-label">Perfiles</label>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">(in)</label>
                  <select
                    v-model="cotizacion.piezas[iPieza].perfiles.medida"
                    class="form-control form-control-sm"
                  >
                    <option
                      v-for="medida in optionsDisponibles.ventana.perfil.medidas"
                      :key="medida"
                      :value="medida"
                    >
                      {{ medida }}
                    </option>
                  </select>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Color</label>
                  <select
                    v-model="cotizacion.piezas[iPieza].perfiles.color"
                    class="form-control form-control-sm"
                  >
                    <option
                      v-for="color in coloresPerfilDisponibles(iPieza)"
                      :key="color"
                      :value="color"
                    >
                      {{ color }}
                    </option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Vidrio</label>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">(mm)</label>
                  <select
                    v-model="cotizacion.piezas[iPieza].vidrio.medida"
                    class="form-control form-control-sm"
                  >
                    <option
                      v-for="medida in optionsDisponibles.ventana.vidrio.medidas"
                      :key="medida"
                      :value="medida"
                    >
                      {{ medida }}
                    </option>
                  </select>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Modelo</label>
                  <select
                    v-model="cotizacion.piezas[iPieza].vidrio.id"
                    class="form-control form-control-sm"
                  >
                    <option
                      v-for="vidrio in vidrioDisponibles(iPieza)"
                      :key="vidrio.id"
                      :value="vidrio.id"
                    >
                      {{ vidrio.material }}
                    </option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Carretillas</label>
                </div>
                <div class="col-3 mb-3">
                  <label class="form-label">(in)</label>
                  <select
                    v-model="cotizacion.piezas[iPieza].carretillas.medida"
                    class="form-control form-control-sm"
                  >
                    <option
                      v-for="medida in optionsDisponibles.ventana.carretilla.medidas"
                      :key="medida"
                      :value="medida"
                    >
                      {{ medida }}
                    </option>
                  </select>
                </div>
                <div class="col-3 mb-3">
                  <label class="form-label">Cantidad</label>
                  <input
                    type="number"
                    step="1"
                    v-model="cotizacion.piezas[iPieza].carretillas.cantidad"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Modelo</label>
                  <select
                    v-model="cotizacion.piezas[iPieza].carretillas.id"
                    class="form-control form-control-sm"
                  >
                    <option
                      v-for="carretilla in carretillaDisponibles(iPieza)"
                      :key="carretilla.id"
                      :value="carretilla.id"
                    >
                      {{ carretilla.material }}
                    </option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Jaladeras</label>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Cantidad</label>
                  <input
                    type="number"
                    step="1"
                    v-model="cotizacion.piezas[iPieza].jaladeras.cantidad"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Modelo</label>
                  <select
                    v-model="cotizacion.piezas[iPieza].jaladeras.id"
                    class="form-control form-control-sm"
                  >
                    <option
                      v-for="jaladera in materialesFormat.ventana.jaladera"
                      :key="jaladera.id"
                      :value="jaladera.id"
                    >
                      {{ jaladera.material }}
                    </option>
                  </select>
                </div>
                <div class="col-12">
                  <label class="form-label">Vinil (empaque)</label>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">(cm)</label>
                  <input
                    type="number"
                    step="0.5"
                    v-model="cotizacion.piezas[iPieza].vinil.medida"
                    class="form-control form-control-sm"
                  />
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Modelo</label>
                  <select
                    v-model="cotizacion.piezas[iPieza].vinil.id"
                    class="form-control form-control-sm"
                  >
                    <option
                      v-for="vinil in materialesFormat.ventana.vinil"
                      :key="vinil.id"
                      :value="vinil.id"
                    >
                      {{ vinil.material }}
                    </option>
                  </select>
                </div>
                <div class="col-6 mb-3">
                  <label class="form-label">Silicón ($)</label>
                  <input
                    type="number"
                    step="0.5"
                    v-model="cotizacion.piezas[iPieza].silicon"
                    class="form-control form-control-sm"
                  />
                </div>
              </template>
            </div>
            <div>
              <button class="btn btn-outline-secondary w-100">Calcular</button>
            </div>
          </form>
          <section>
            <p>desglose</p>
          </section>
        </div>
        <div class="col"></div>
      </div>
    </div>

    <script src="./js/main.js" type="module"></script>
  </body>
</html>
